extends common/layout

block content
  .container
    h1.text-center.mb-4 Portfolio Admin Panel

    .row
      .col-md-6
        .card.shadow-sm
          .card-body
            h3 Projects
            p Manage and add new projects.
            a.btn.btn-primary(href="/projects") View Projects

      .col-md-6
        .card.shadow-sm
          .card-body
            h3 Skills
            p Manage and add new skills.
            a.btn.btn-primary(href="/skills") View Skills